<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.civitashackathon.shame"
   >

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".MainActivity2"
            android:label="Details"
            android:screenOrientation="portrait"
          >
        </activity>
        <activity
            android:name=".MainActivity3"
            android:label="Details | Schedule"
            android:screenOrientation="portrait"
           >
        </activity>

        <service android:name=".SelectionYes"
            android:enabled="true" />

        <service android:name=".SelectionNo"
            android:enabled="true" />

        <service android:name=".ShowNotification"
            android:enabled="true" />

    </application>
</manifest>
